@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --background-color1: #E5E5E5;
    --background-color2: #DCDCDC;
    --blue-color: #3293D7;
    --white-color: #F5F5F5;
    --grey-color: rgb(100, 100, 100);
    --black-color: black;
}

body {
    background-color: var(--background-color1);
    max-width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* nav section */

nav {
    height: 50px;
    width: 100vw;
    padding: 0 20px;
    background-color: var(--white-color);
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.nav_section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_section .title {
    height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 800;
    cursor: pointer;
}

.nav_section .nav_details {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav_section .nav_details .nav_links {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav_details .nav_links li {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_details .nav_links a {
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 600;
    color: var(--grey-color)
}

.nav_details .nav_links li:hover a {
    color: var(--black-color)
}

.nav_details .phone {
    font-size: 0.8rem;
    color: var(--black-color);
}

/* header section */

header {
    margin-top: 50px;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

header img {
    position: absolute;
    width: 100%;
    height: auto;
}

header .header_container {
    position: relative;
    height: 50vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.header_container .header_title {
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
}

.header_container .header_content {
    color: rgba(255, 255, 255, 0.795);
    line-height: 2.2;
}

/* categories section */

.categories_section {
    height: 60vh;
    width: 100%;
    padding: 20px
}

.categories_section .categories_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.categories_container .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.category .circle_icon {
    height: 85px;
    width: 85px;
    background-color: var(--blue-color);
    border-radius: 50%;
}

.category .category_title {
    color: var(--blue-color);
    font-weight: 600;
}

.category .category_description {
    font-size: 0.9rem;
    text-align: justify;
}