@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.sidebar{
	position: fixed;
	height: 100%;
	width: 240px;
	background-color: #0A2558;
}

.sidebar .active{
	width: 60px;
}

.sidebar .logo_details{
	height: 80px;
	display: flex;
	align-items: center;
}

.sidebar .logo_details i{
	font-size: 28px;
	font-weight: 500;
	color: #fff;
	min-width: 60px;
	text-align: center;
}

.sidebar .logo_details .logo_name{
	color: #fff;
	font-size: 24px;
	font-weight: 500;
}

.sidebar .nav_links{
	margin-top: 10px;
}

.sidebar .nav_links li{
	position: relative;
	list-style: none;
	height: 50px;
}

.sidebar .nav_links li a{
	height: 100%;
	width: 100%;
	text-decoration: none;
	display: flex;
	align-items: center;
	transition: all 0.4s ease;
}

.sidebar .nav_links li a.active{
	background-color: #081D45;
}

.sidebar .nav_links li a:hover{
	background-color: #081D45;
}

.sidebar .nav_links li i{
	min-width: 60px;
	text-align: center;
	color: #fff;
	font-size: 18px;
}

.sidebar .nav_links li a .link_name{
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	white-space: nowrap;
}

.sidebar .nav_links .log_out{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.home_section{
	position: relative;
	background-color: #f5f5f5;
	min-height: 100vh;
	width: calc(100% - 240px);
	left: 240px;
	transition: all 0.5s ease;
}

.sidebar.active ~ .home_section{
	width: calc(100% - 60px);
	left: 60px;
}

.home_section nav{
	display: flex;
	justify-content: space-between;
	background-color:  #fff;
	height: 80px;
	align-items: center;
	position: fixed;
	width: calc(100% - 240px);
	left: 240px;
	z-index: 100;
	padding: 0 20px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	transition: all 0.5s ease;
}

.sidebar.active ~ .home_section nav{
	left: 60px;
	width: calc(100% - 60px);
}

.home_section nav .sidebar_button{
	display: flex;
	align-items: center;
	font-size: 24px;
	font-weight: 500;
}

nav .sidebar_button i{
	font-size: 35px;
	margin-right: 10px;
}

.home_section nav .search_box {
	position: relative;
	height: 50px;
	max-width: 550px;
	width: 100%;
	margin: 0 20px;
}

nav .search_box input{
	height: 100%;
	width: 100%;
	outline: none;
	background-color: #f5f6fa;
	border: 2px solid #efeef1;
	border-radius: 6px;
	font-size: 18px;
	padding: 0 15px;
}

nav .search_box .bx-search {
	position: absolute;
	height: 40px;
	width: 40px;
	background-color: #2697ff;
	right: 5px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 4px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 22px;
	transition: all 0.4 ease;
}

.home_section nav .profile_details{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f5f6fa;
	border-radius: 6px;
	border: 2px solid #efeef1;
	height: 50px;
	min-width: 190px;
	padding: 0 15px 0 2px;
}

nav .profile_details .img{
	height: 40px;
	width: 40px;
	border-radius: 6px;
	background-color: rgb(230, 230, 230);
}

nav .profile_details .admin_name{
	font-size: 15px;
	font-weight: 500;
	color: #333;
	margin: 0 10px;
	white-space: nowrap;
}

nav .profile_details i{
	font-size: 25px;
	color: #333;
}

.home_section .home_content{
	position: relative;
	padding-top: 104px;
}

.home_content .overview_boxes{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 20px;
	margin-bottom: 26px;
}

.overview_boxes .box{
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100%/4 - 15px);
	background-color: #fff;
	padding: 15px 14px;
	border-radius: 12px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.overview_boxes .box_topic{
	font-size: 20px;
	font-weight: 500;
}

.home_content .box .number{
	display: inline-block;
	font-size: 35px;
	margin-top: -6px;
	font-weight: 500;
}

.home_content .box .indicator{
	display: flex;
	align-items: center;
}

.home_content .box .indicator i{
	height: 20px;
	width: 20px;
	background-color: #8fdacb;
	line-height: 20px;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	font-size: 20px;
	margin-right: 5px;
}

.box .indicator i.down{
	background-color: #e87d88;
}

.home_content .box .indicator .text{
	font-size: 12px;
}

.home_content .box .cart{
	display: inline-block;
	font-size: 32px;
	height: 50px;
	width: 50px;
	background-color: #cce5ff;
	line-height: 50px;
	text-align: center;
	color: #66b0ff;
	border-radius: 12px;
	margin: -15px 0 0 6px;
}
.home_content .box .cart.two{
	color: #2bd47d;
	background-color: #c0f2d8;
}
.home_content .box .cart.three{
	color: #ffc233;
	background-color: #ffe8b3;
}
.home_content .box .cart.four{
	color: #e05260;
	background-color: #f7d4d7;
}